{% extends "layouts/base.html" %}

{% block title %}Thaddeus Stevens Portal{% endblock %}
{% block header %}

    <div class="out_button">
      <button type="button" name="logout" id='logout'><img src="../static/icon.svg" alt="This is a button to show the logout button."></button>
      <div class="logout_button">
        <span>Welcome {{ g.user[1] }} {{ g.user[2] }}</span>
        <p><a href="/logout" >Logout</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
 <nav>
   <ul>
     <li><a href="/">Home</a></li>
     <li><a href="{{url_for('courses.index')}}">Course List</a></li>
     {% if g.user[5] == 'teacher' %}
     <li><a href="{{url_for('courses.create')}}">Create a Course</a></li>
     {% endif %}
   </ul>
 </nav>

    <article class="assignment" method="get">
      <h2 class="assignment-list" name="name" name="number">{{ assignments[1] }}: {{  assignments[2] }}</h2>
      <p name="description">{{ assignments['description'] }}</hp>
      <p>
      {% if g.user[0] == user[0] %}
       <a href="{{ url_for('assignments.update', id=assignments[0])}}">Edit This Assignment</a>
      {% endif %}
      </p>
    </article>
{% endblock %}
