{% extends "layouts/base.html" %}

{% block title %}Thaddeus Stevens Portal{% endblock %}
{% block header %}
  {% if g.user  %}
    <div class="out_button">
      <button type="button" name="logout" id='logout'><img src="../static/icon.svg" alt="This is a button to show the logout button."></button>
      <div class="logout_button">
        <span>Welcome {{ g.user[1] }} {{ g.user[2] }}</span>
        <p><a href="/logout" >Logout</a></p>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block content %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('courses.index')}}">Course List</a></li>
      {% if g.user[5] == 'teacher' %}
      <li><a href="{{url_for('courses.create')}}">Create a Course</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="session_form">
    <form class="" action="index.html" method="post">
      <label for="course_name">Course Name</label>
        <input id="course_name" name="coursename" placeholder="Course name.." type="text">
      <label for="session_name">Session Name</label>
        <input id="session_name" name="sessionname" placeholder="Session name.." type="text">
      <label for="session_time_start">Start Time</label>
        <input id="start_time" name="sessiontime-start" placeholder="Start Time" type="text">
      <label for="session_time_end">End Time</label>
        <input id="end_time" type="text" name="sessiontime-end" value="" placeholder="End Time">
      <input type="submit" name="" value="Add Student">
    </form>
  </div>
{% endblock %}
