/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  background-color: #8B1E41;
  text-align: center;
  padding: 2rem;
}

/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

div {
  text-align: right;
  position: absolute;
  right: 1em;
  top: 1em;
  color: white;
  }

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}


/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
}

body header {
  margin: 0;
  padding: 0;
  background-color: #802941;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

p {
  text-align: center;
}

.course-list {
  text-align: center;
}

.course {
  margin-left: 25%;
  margin-right: 25%;
  border-style: inset;
  border-width: thick;
  border-color: #8B1E41;
}
