{% extends "layouts/base.html" %}

{% block title %}Thaddeus Stevens Portal{% endblock %}
{% block header %}

    <div class="out_button">
      <button type="button" name="logout" id='logout'><img src="../static/icon.svg" alt="This is a button to show the logout button."></button>
      <div class="logout_button">
        <span>Welcome {{ g.user[1] }} {{ g.user[2] }}</span>
        <p><a href="/logout" >Logout</a></p>
      </div>
    </div>
{% endblock %}


{% block content %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('courses.index')}}">Course List</a></li>
      {% if g.user[5] == 'teacher' %}
      <li><a href="{{url_for('courses.create')}}">Create a Course</a></li>
      {% endif %}
    </ul>
  </nav>
  <form class="create-course" method="post" required>
    <label for="name">Course Name
      <input type="text" name="name" required />
    </label>
    <label for="number">Course ID
      <input type="text" name="number" required />
    </label>
    <label for="description">Course Description
      <input type="text" name="description" required />
    </label>
    <input type="submit" name="Create Course" value="Create Course">
  </form>
{% endblock %}
