{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
  <form class="create-course" method="post">
    <label for="name">Course Name
      <input type="text" name="name" />
    </label>
    <label for="number">Course ID
      <input type="text" name="number" />
    </label>
    <label for="description">Course Description
      <input type="text" name="description" />
    </label>
    <input type="submit" name="Create Course" value="Create Course">
  </form>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{url_for('courses.index')}}">Course List </a></li>
        <li><a href="{{url_for('courses.create')}}">Create Course</a></li>
        <li><a href="{{url_for('courses.update')}}">Edit Course</a></li>
      </ul>
    </nav>


{% endblock %}
