{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('courses.index')}}">Course List</a></li>

    </ul>
  </nav>


  <main class="course-list">
    {% for course in courses %}
    <article class="course">
      <h2 class="course-list"> 
        <a href="{{ url_for('courses.update', id=course[0])}}" class="edit">Edit</a> - {{ course[1] }} - {{  course[2] }}
      </h2>
    </article>
    {% endfor %}
  </main>
{% endblock %}
