{% extends "layouts/base.html" %}

{% block title %}Thaddeus Stevens Portal{% endblock %}
{% block header %}

    <div class="out_button">
      <button type="button" name="logout" id='logout'><img src="../static/icon.svg" alt="This is a button to show the logout button."></button>
      <div class="logout_button">
        <span>Welcome {{ g.user[1] }} {{ g.user[2] }}</span>
        <p><a href="/logout" >Logout</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
 <nav>
   <ul>
     <li><a href="/">Home</a></li>
     <li><a href="{{url_for('courses.index')}}">Course List</a></li>
     {% if g.user[5] == 'teacher' %}
     <li><a href="{{url_for('courses.create')}}">Create a Course</a></li>
     {% endif %}
   </ul>
 </nav>

    <article class="course" method="get">
      <h2 class="course-list" name="name" name="number">{{ course[2] }}: {{  course[1] }}</h2>
      <p name="description">{{ course['description'] }}</p>
      <p name="description">Created by: {{ user['first_name'] }} {{ user['last_name'] }} </p>
      {% if g.user[0] == course[4] %}
        <a href="{{ url_for('courses.update', id=course[0])}}">edit this course</a>
        <a href="{{ url_for('roster.create')">create a session</a>

      {% endif %}
    </article>
{% endblock %}
