{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block header %}
  {% if g.user %}
  <div class="logout_button">
    <span>Welcome {{ g.user[1] }}</span>
    <button type="button" name="logout" id='logout'><a href="/logout">Logout</a></button>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user %}
    {% if g.user[5] == "teacher" %}
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{url_for('courses.index')}}">Courses</a></li>
      </ul>
    </nav>
    {% elif g.user[5] == "student" %}
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{url_for('courses.index')}}">Courses</a></li>
      </ul>
    </nav>
    {% endif %}
  {% endif %}

  {% if not g.user %}
    <form method = "post">
      <label for="email">Email
        <input type="email" name="email" />
      </label>
      <label for="password">Password
        <input type="password" name="password" />
      </label>
      <input type="submit" value="Login" />
    </form>


  {% endif %}
{% endblock %}
