{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block header %}
  {% if logged_in == True %}
    <div class="out_button">
      <button type="button" name="logout" id='logout'></button>
      <div class="logout_button">
        <span>Welcome {{ session['user_id'] }}</span>
        <a href="/logout" >Logout</a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  {% if logged_in == False %}
    <form method = "post">
      <label for="email">Email
        <input type="email" name="email" />
      </label>
      <label for="password">Password
        <input type="password" name="password" />
      </label>
      <input type="submit" value="Login" />
    </form>
  {% endif %}
{% endblock %}
