{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}

  {% if method == 'GET' %}
    <form method = "post">
      <label for="email">Email
        <input type="email" name="email" />
      </label>
      <label for="password">Password
        <input type="password" name="password" />
      </label>
      <input type="submit" value="Login" />
    </form>
  {% else %}
    <button type="button" name="logout">Logout</button>
  {% endif %}
{% endblock %}
